body{
  background-color: #111;
  color: white;
  font-family: arial;
  
}
a{
  color:slategrey;
  background-color:white;
  border-radius: 10px;
  padding: 2px;
  
}
img{
  display:flex;
  align-items:center;
  justify-content:center;
}
